.Game {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .gameZone {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .gui {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  flex-direction: column-reverse;
}