.Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
  font-weight: 500;
  position: relative;
  height: 60px;
  margin-bottom: 25px;
  flex-shrink: 0;

  @media (max-width: 500px) {
    height: 60px;
  }

  .logo {
    position:absolute;
    left:0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-flow: reverse;
    font-size: 1.6em;
    font-weight: 600;

    margin: 0;
    cursor: pointer;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
      cursor:pointer;
      margin-right: 2em;

      &.active {
        text-decoration: underline;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  align-items: flex-end;

  .divider {
    position: absolute;
    left: 0;
    top: 125px;
    width:100vw;

    @media (max-width: 500px) {
      top: 85px;
    }
  }
}