.HealthBar {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 15px;

  .heart {
    @include light {
      @include text-outline;

      .used {
        color: $light-mode-dark;
      }
    }

    @include dark {
      @include shadow;
      color: $dark-mode-elevated;
      
      .used {
        color: $dark-mode-elevated;
      }
    }

    font-family: 'entypo', sans-serif;
    position: relative;
    margin-right: 0.1em;
  
    @include unselectable;
  
    &.active {
      &:before {
        @include light {
          color: $yellow;
          position: absolute;

          top: -4px;
          left: -2px;
        }

        @include dark {
          color: $red;
        }

        font-family: 'entypo', sans-serif;
        content: '♥';

      }
    }
  }
}

@font-face {
  font-family: 'entypo';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-90/entypo.woff') format('woff');
}
