.HealthBar {
  font-size: 32px;

  display: flex;
  flex-direction: row;
  position: relative;

  color: $blue;
  margin-bottom: 15px;

  .heart {
    @include light {
      @include text-outline;

      color: $light-mode-dark;

      .used {
        color: $light-mode-dark;
      }
    }

    @include dark {

      .used {
        color: $dark-mode-dark;
      }
    }

    font-family: 'entypo', sans-serif;
    position: relative;
    margin-right: 0.1em;
  
    @include unselectable;
  
    &.active {
      &:before {
        @include light {
          color: $yellow;
        }

        @include dark {
          color: $red;
        }

        font-family: 'entypo', sans-serif;
        content: '♥';
        position: absolute;
        top: -4px;
        left: -2px;
      }
    }
  }
}

@font-face {
  font-family: 'entypo';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-90/entypo.woff') format('woff');
}
