.Keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  .row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    max-width: 100vw;

  }
}

@mixin pressed {
  transform: scale(0.9);
  // background-color: darken(white, 10%);
}

@mixin hover {
  // background-color: lighten($dark, 15%);

}

.Key {
  @include shadow;
  // @include outline;
  @include unselectable;
  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  width: 1em;
  padding: 1em;

  text-transform: capitalize;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $light;
  color: $dark;
  // border: 2px solid white;
  border-radius: 5px;
  @include outline;
  border-bottom: $dark 2px solid;
  border-right: $dark 2px solid;

  &.inactive {
    background-color: $dark;
    color: $light;
    border-bottom: $light 2px solid;
    border-right: $light 2px solid;
    outline: $light 1px solid;
  }

  &.yes {
    background-color: $yes;
  }

  &.almost {
    background-color: $almost;
  }

  &:active {
    @include pressed;
  }

  &.active {
    @include hover;
    @include pressed;

  }

  &:hover {
    @include hover;
  }

  margin-right: 0.5em;
  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 500px) {
    height: 3em;
    font-size: 14px;
    font-weight: 700;
    // width: 1em;
    // height: 1em;
    // padding: 1em;
    // border-radius: 2em;
    // margin-right: 0.2em;
  }
}