.LetterBox {
  @include shadow;
  @include unselectable;

  cursor: text;

  text-transform: uppercase;

  font-size: 2em;
  height: 1em;
  width: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark;
  color: rgb(255, 255, 255);

  border: 0.25em solid white;
  border-bottom: 1em solid white;

  // &::after {
  //   content: "";
  //   border-bottom: 1px solid white;
  //   width: 100px !important;
  // }

  .focused {
    background-color:white;
    width: 1em;
    height: 2px;
    position: absolute;
    bottom: 0.5em;
  }

  &.yes {
    background-color: $yes;
    cursor: default;
  }

  &.almost {
    cursor: default;
    background-color: $almost;
  }

  &.inactive {
    cursor: default;
    background-color: $inactive;
  }

  margin-right: 0.5em;
  &:last-child {
    margin-right: 0;
  }

}

.WordBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}