.LetterBox {
  @include shadow;
  @include unselectable;

  font-size: 3em;
  height: 1em;
  width: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark;
  color: white;

  border: 0.2em solid white;
  border-bottom: 1em solid white;

  &.yes {
    color: $yes;
  }

  &.almost {
    color: $almost;
  }

  margin-right: 0.5em;
  &:last-child {
    margin-right: 0;
  }

}

.WordBox {
  display: flex;
  flex-direction: row;
}