.Rainbow {
  width: 100%;

  display: flex;
  flex-direction: column;

  .bar {    
    height: 4px;
    transition: height 0.05s linear;

    &:nth-child(1) {
      @include light {
        background: $blue;
      }

      @include dark {
        background: $orange;
      }

      &.collapsed {
        height: 0px;
        transition: height 0.05s linear;
      }
    }

    &:nth-child(2) {
      @include light {
        background: $green;
      }

      @include dark {
        background: $red;
      }

      transition-delay: 0.05s;

      &.collapsed {
        height: 0px;
        transition: height 0.05s linear;
        transition-delay: 0.05s;
      }
    }

    &:nth-child(3) {
      @include light {
        background: $yellow;
      }

      @include dark {
        background: $maroon;
      }
      
      transition-delay: 0.1s;

      &.collapsed {
        height: 0px;
        transition: height 0.05s linear;
        transition-delay: 0.1s;
      }
    }
  }
}