.Toggle {
  width: 40px;
  height: 22px;
  border-radius: 22px;
  @include outline;
  position: relative;
  cursor: pointer;
  background-color: $light;
  transition: background-color 0.1s linear;


  .inner {
    width: 16px;
    height: 16px;
    border-radius: 24px;

    @include outline;
    background-color: $light;


    position: absolute;
    z-index: 1000;

    left: 3px;
    top: 3px;

    transition: left 0.1s ease-out;
  }

  &.active {
    background-color: $dark;
    transition: background-color 0.1s linear;


    .inner {
      left: 20px;

      transition: left 0.1s ease-out;
    }


  }

  
}