.Home {
  height:100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 0 2em;
  max-width: 450px;
  margin-left: auto;margin-right:auto;

  .divider {
    position: absolute;
    left: 0;
    top: 125px;
    width:100vw;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
    font-weight: 500;
    position: relative;
    height: 75px;
    margin-bottom: 25px;


    .logo {
      position:absolute;
      left:0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      flex-flow: reverse;
      font-size: 1.6em;
      font-weight: 600;

      margin: 0;
      cursor: pointer;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      a {
        cursor:pointer;
        margin-right: 2em;

        &.active {
          text-decoration: underline;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    align-items: flex-end;
  }
}

.page {
  height: 85vh;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings {
}

.stats {
}

.about {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .hintContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .hint {
      padding-top:1em;
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .toggleBar {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin-left: 25px;
    }

    width: 200px;
  }
}

.back {
  align-self: flex-start;
  cursor: pointer;

  a {
    cursor: pointer;
  }
}

.footer {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  .heart {
    color: $red;
  }
}

.game {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .gameZone {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .gui {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  flex-direction: column-reverse;

}
