$maroon: #70036B;
$red: #D50C60;
$orange: #FF6332;
$yellow: #FFDF39;
$green: #BCE80C;
$blue: #20BDA1;


$yes: $green;
$almost: $yellow;
$inactive: #b8c5c5b2;

$light-mode-dark: #2A272D;
$light-mode-light: #FFFFF6;

$dark-mode-light: #EAEEF4;
$dark-mode-dark: #2A272D;
$dark-mode-elevated: #403B45;


$dark: $light-mode-dark;
$light: $light-mode-light;

@mixin shadow {
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.15)); 
}

@mixin unselectable {

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */

}

@mixin text-outline {
  -webkit-text-stroke: $dark 2px;
}

@mixin outline {
  outline: 2px solid $dark;
}

@mixin outline-subtle {
  outline: 1px solid $dark;
}