$maroon: #70036B;
$red: #D50C60;
$orange: #FF6332;
$yellow: #FFDF39;
$green: #BCE80C;
$blue: #20BDA1;

$light-mode-dark: #2A272D;
$light-mode-light: #FFFFF6;

$dark-mode-light: #EAEEF4;
$dark-mode-dark: #2A272D;
$dark-mode-elevated: #403B45;

@mixin shadow {
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.4)); 
}

@mixin inner-shadow {
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
}

@mixin unselectable {

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */

}

@mixin text-outline {
  -webkit-text-stroke: $light-mode-dark 2px;
}

@mixin outline {
  outline: 2px solid $light-mode-dark;
}

@mixin outline-subtle {
  outline: 1px solid $light-mode-dark;
}

@mixin dark {
   &[data-theme="dark"] {
    @content;
  }
  [data-theme="dark"] & {
    @content;
  }
}

@mixin light {
  &[data-theme="light"] {
    @content;
  }
  [data-theme="light"] & {
    @content;
  }
}